.dropdownOpened {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.wrapper {
  width: 506px;
}

.form {
  position: relative;
  flex: 1;
  width: 100%;
}

.closeSvg,
.searchSvg {
  width: 100%;
  height: 100%;
}

.searchBtn,
.closeBtn {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 16px;
  cursor: pointer;
}

.closeBtn svg path,
.searchBtn svg path {
  transition: stroke 0.3s;
}

.closeBtn:hover svg path,
.searchBtn:hover svg path {
  stroke: var(--neutral-filled-900);
}

.search {
  width: 100%;
  padding: 12px 56px 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--neutral-filled-900);
  background-color: var(--neutral-tone-100);
  transition: background-color 0.3s;
}

.search:hover,
.search:focus {
  background-color: var(--neutral-filled-200);
}

.search::-webkit-search-cancel-button {
  display: none;
}

.search::placeholder {
  color: var(--neutral-filled-600);
}

@media (max-width: 1023px) {
  .wrapper {
    width: 601px;
  }
}

@media (max-width: 885px) {
  .wrapper {
    width: 483px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    height: 32px;
    width: 409px;
  }

  .searchBtn,
  .closeBtn {
    width: 16px;
    height: 16px;
    top: 7px;
    right: 8px;
  }

  .searchBtn svg,
  .closeBtn svg {
    width: 16px;
    height: 16px;
  }

  .search {
    padding: 8px 40px 8px 12px;
    font-size: 14px;
    line-height: 1.143;
    background-position: center right 12px;
    background-size: 16px 16px;
  }
}
