.ldsEllipsis {
  /* change color here */
  color: var(--neutral-tone-100);
}

.ldsEllipsis,
.ldsEllipsis div {
  box-sizing: border-box;
}

.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 72px;
}

.ldsEllipsis div {
  position: absolute;
  top: 28px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 0;
  animation: lds-ellipsis1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
  left: 0;
  animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
  left: 28px;
  animation: lds-ellipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(28px, 0);
  }
}

@keyframes lds-ellipsis2-mobile {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(16px, 0);
  }
}

@media (max-width: 767px) {
  .ldsEllipsis {
    width: 40px;
    height: 40px;
  }

  .ldsEllipsis div {
    top: 16px;
    width: 8px;
    height: 8px;
  }

  .ldsEllipsis div:nth-child(1) {
    left: 0;
  }

  .ldsEllipsis div:nth-child(2) {
    left: 0;
    animation: lds-ellipsis2-mobile 0.6s infinite;
  }

  .ldsEllipsis div:nth-child(3) {
    left: 16px;
    animation: lds-ellipsis2-mobile 0.6s infinite;
  }

  .ldsEllipsis div:nth-child(4) {
    left: 32px;
  }
}