.input {
    width: calc(100% - 48px);
    padding: 0.75rem 0rem 0.75rem 1rem;
    height: 1.5rem;

    background: none;
    border: none;

    font-size: 1.25rem;
    color: var(--dark-color);

    font-variant-numeric: lining-nums;
}

.input::placeholder {
    color: var(--gray-color);
}

.input:focus,
.input:active {
    outline: none;
}

@media (max-width: 768px) {
    .input {
        height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
        padding-block: clamp(0.5rem, -0.75rem + 3.13vw, 0.75rem);
        padding-left: clamp(0.75rem, -0.5rem + 3.13vw, 1rem);

        font-size: clamp(0.875rem, -1rem + 4.69vw, 1.25rem);
    }

    .input::placeholder {
        font-size: clamp(0.875rem, -1rem + 4.69vw, 1.25rem);
    }
}