.weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px 0;
    gap: 16px;
}

.weather__wrap {
    display: grid;
    align-items: center;
    justify-content: center;
}

.weather__top {
    display: grid;
    gap: 8px;
}

.weather__city {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
}

.weather__text {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.weather__text--margin {
    margin-top: 0;
}

.weather__degrees {
    color: var(--color-text);
    font-size: 112px;
    font-weight: 700;
    line-height: 112px;
    letter-spacing: 0px;
    text-align: center;
    padding: 64px 0 64px 0;
}

.weather__bottom {
    display: grid;
    gap: 8px;
}

.weather__inner {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.weather__items {
    display: grid;
    grid-template-columns: repeat(3, 158px);
    gap: 16px;
    justify-self: end;
}

.weather__item {
    height: 196px;
    border-radius: 8px;
    background: var(--color-bg);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.weather__item:first-child .weather__box {
    justify-content: space-between;
}

.weather__title {
    color: var(--color-text-card);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 16px;
}

.weather__img {
    margin-bottom: 16px;
}

.weather__parameter {
    color: var(--color-text-card);
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 16px;
}

.weather__range {
    width: 100%;
    appearance: none;
    pointer-events: none;
    background: rgba(218, 218, 218, 0.4);
    margin-bottom: 8px;
    border-radius: 8px;
    border-color: transparent;
}

.weather__range::-webkit-slider-thumb {
    background: var(--color-text);
    border-radius: 10px;
    width: 8px;
    height: 8px;
    -webkit-appearance: none;
}

.weather__box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.weather__indicator {
    color: rgb(57, 57, 57);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    white-space: nowrap;
}

@media (max-width: 1023px) {
    .weather {
        grid-template-columns: repeat(1, 1fr);
        gap: 48px;
        justify-items: center;
        padding: 24px;
    }
    .weather__top,
    .weather__inner {
        gap: 6px;
    }
    .weather__degrees {
        padding: 24px 0;
    }
    .weather__items {
        grid-template-columns: repeat(3, minmax(158px, 163px));
        gap: 12px;
        justify-self: center;
    }
}

@media (max-width: 767px) {
    .weather {
        padding: 16px;
    }
    .weather__top,
    .weather__inner,
    .weather__bottom {
        gap: 4px;
    }
    .weather__city {
        font-size: 16px;
        line-height: 20px;
    }
    .weather__text {
        font-size: 14px;
        line-height: 16px;
    }
    .weather__degrees {
        font-size: 56px;
        line-height: 56px;
        padding: 16px 0;
    }
    .weather__items {
        grid-template-columns: repeat(3, minmax(98px, 128px));
        gap: 8px;
        justify-self: center;
    }
    .weather__item {
        height: 148px;
        padding: 12px;
    }
    .weather__title {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
    }
    .weather__img {
        width: 24px;
        height: 24px;
        margin-bottom: 12px;
    }
    .weather__parameter {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 12px;
    }
    .weather__range {
        margin-bottom: 6px;
    }
    .weather__indicator {
        font-size: 10px;
        line-height: 12px;
    }
    .weather__range {
        height: 6px;
    }
    .weather__inner > img {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 639px) {
    .weather {
        gap: 32px;
        justify-content: center;
    }
}
