.container {
    background-color: var(--container-bg-color);
    backdrop-filter: blur(25px);
    border-radius: var(--border-radius);

    max-width: calc(1120px - 64px);

    padding: 0 clamp(1.5rem, 0.75rem + 1.56vw, 2rem);
    margin: 2rem auto;
}

@media (max-width: 1280px) {
    .container {
        margin-inline: clamp(2rem, -10rem + 18.75vw, 5rem);
    }
}

@media (max-width: 1024px) {
    .container {
        margin-inline: clamp(1.5rem, -1.71rem + 5.8vw, 2rem);
        margin-block: clamp(1.5rem, -1.71rem + 5.8vw, 2rem);

        padding-inline: clamp(1.5rem, -1.71rem + 5.8vw, 2rem);
    }
}


@media (max-width: 768px) {
    .container {
        padding-inline: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);

        margin: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    }
}
