.selection {
  display: flex;
  gap: 2rem;

  text-align: center;
  align-items: baseline;

  height: 2rem;
}

.selectionTitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 133%;

  color: var(--light-color);

  margin: 0;
}

@media (max-width: 886px) {
  .selection {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .selection {
    gap: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    height: clamp(1.375rem, -1.75rem + 7.81vw, 2rem);
  }

  .selectionTitle {
    font-size: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    line-height: clamp(1.25rem, -2.475rem + 9.31vw, 1.995rem);
  }
}
