.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  margin: 0;
  padding: 0;
}

@media (max-width: 886px) {
  .wrap {
    display: flex;
    justify-content: center;
  }

  .cards {
    grid-gap: 0.75rem;
  }
}
@media (max-width: 768px) {
  .cards {
    gap: clamp(0.5rem, -0.75rem + 3.13vw, 0.75rem);
  }
}
