.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 64px 16px;
  padding: 32px;
}

.forecast {
  grid-column: 2 span;
}

.forecastHeader {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.forecastNav {
  margin-top: 2px;
}

@media (max-width: 1023px) {
  .main {
    grid-template-columns: 1fr;
    gap: 48px;
    padding: 24px;
  }

  .forecast {
    grid-column: 1 span;
  }

  .forecastHeader {
    gap: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .main {
    gap: 32px;
    padding: 16px;
  }

  .forecastHeader {
    gap: 16px;
    margin-bottom: 16px;
  }

  .forecastNav {
    margin-top: 1px;
  }
}