.main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  
    padding-block: 2rem;
    padding-inline: 0;
  }
  
  @media (max-width: 886px) {
    .main {
      flex-direction: column;
      gap: 3rem;
      padding-block: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .main {
      gap: clamp(2rem, -3rem + 12.5vw, 3rem);
      padding-block: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    }
  }
  
