.weather-today {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  gap: 16px;
}
@media (max-width: 886px) {
  .weather-today {
    flex-direction: column;
    gap: 48px;
    justify-items: center;
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .weather-today {
    padding: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    gap: clamp(2rem, -3rem + 12.5vw, 3rem);
  }
}
