.logo {
  height: calc(3rem);
  width: 192px;
  display: flex;
  align-items: center;
}

.logoSmall {
  display: none;
}

@media (max-width: 886px) {
  .logo {
    display: none;
  }

  .logoSmall {
    display: block;
    width: clamp(2rem, 0.688rem + 5.6vw, 3.375rem);
    height: clamp(2rem, 1.046rem + 4.07vw, 3rem);
  }
}

@media (max-width: 768px) {
  .logoSmall {
    width: clamp(2rem, 0.688rem + 5.6vw, 3.375rem);
    height: clamp(2rem, 1.046rem + 4.07vw, 3rem);
  }
}
