.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-block: 8px;
}

.top {
  display: grid;
  gap: 8px;
}

.city {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;

  margin: 0;
}

.text {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;

  margin: 0;
}

.temperature {
  color: var(--color-text);
  font-size: 112px;
  font-weight: 700;
  line-height: 112px;
  letter-spacing: 0px;
  text-align: center;
  padding: 64px 0 64px 0;
  margin: 0;
}

.bottom {
  display: grid;
  gap: 8px;
}

.inner {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media (max-width: 886px) {
  .wrapper {
    padding-block: 0;
  }
  .top,
  .inner {
    gap: 6px;
  }
  .temperature {
    padding: 24px 0;
  }
}

@media (max-width: 768px) {
  .weather {
    padding: 16px;
  }
  .inner > img {
    width: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
  }
  .top,
  .inner,
  .bottom {
    gap: 4px;
  }
  .city {
    font-size: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    line-height: clamp(1.25rem, -2.5rem + 9.38vw, 2rem);
  }
  .text {
    font-size: clamp(0.875rem, -1rem + 4.69vw, 1.25rem);
    line-height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
  }
  .temperature {
    font-size: clamp(3.5rem, -14rem + 43.75vw, 7rem);
    line-height: clamp(3.5rem, -14rem + 43.75vw, 7rem);
    padding: clamp(1rem, -1.5rem + 6.25vw, 1.5rem) 0;
  }
}
