.citycard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.city {
  margin-bottom: 8px;
  word-break: break-all;
}

.date {
  margin-bottom: 8px;
}

.tempFact {
  margin: 64px 0;
  font-size: 112px;
  line-height: 1;
  font-weight: 700;
}

.condition {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.conditionImg {
  width: 24px;
  height: 24px;
}

@media (max-width: 1279px) {
  .tempFact {
    margin: 48px 0;
  }
}

@media (max-width: 1023px) {
  .citycard {
    padding: 0;
  }

  .city {
    margin-bottom: 6px;
  }

  .date {
    margin-bottom: 6px;
  }

  .tempFact {
    margin: 24px 0;
  }

  .condition {
    gap: 6px;
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .citycard {
    font-size: 14px;
    line-height: 1.143;
  }

  .city {
    margin-bottom: 4px;
  }

  .date {
    margin-bottom: 4px;
  }

  .tempFact {
    margin: 16px 0;
    font-size: 56px;
  }

  .condition {
    gap: 4px;
    margin-bottom: 4px;
  }

  .conditionImg {
    width: 16px;
    height: 16px;
  }
}
