.header {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 32px;
}

.weatherSearch {
  flex: 1;
  max-width: 506px;
}

.bg {
  position: absolute;
  inset: 0 0 auto;
  z-index: 10;
  height: 0;
  background: var(--bg-layer);
  backdrop-filter: blur(25px);
  /* transform: scaleY(0);
  transform-origin: top; */
  transition: height .3s ease-in-out;
}

.bg.panelOpened {
  height: 100%;
}

@media (max-width: 1023px) {
  .header {
    padding: 24px;
  }

  .weatherSearch {
    max-width: 601px;
  }
}

@media (max-width: 885px) {
  .weatherSearch {
    max-width: 483px;
  }
}

@media (max-width: 767px) {
  .header {
    gap: 16px;
    padding: 16px;
  }

  .weatherSearch {
    max-width: 409px;
  }

  .search {
    height: 32px;
    padding: 8px 40px 8px 12px;
    font-size: 14px;
    line-height: 1.143;
    background-position: center right 12px;
    background-size: 16px 16px;
  }
}