.footer {
  height: clamp(4.25rem, 2.75rem + 3.13vw, 5.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__about-project {
  font-size: 1rem;
  line-height: 125%;
  color: var(--light-color);

  text-align: center;

  margin: 0;
}
.preax-link {
  color: var(--light-color);
}

@media (max-width: 1024px) {
  .footer {
    height: 68px;
  }
}

@media (max-width: 768px) {
  .footer {
    height: clamp(3rem, -3.25rem + 15.63vw, 4.25rem);
  }
  .footer__about-project {
    font-size: clamp(0.75rem, -0.5rem + 3.13vw, 1rem);
  }
}
