@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles/normalize.css';
@import './styles/vars.css';

html,
body {
  font-family: 'Raleway';
  font-variant-numeric: lining-nums;
}

body {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
