.visualDegreeBar[type='range'] {
  display: block;
  appearance: none;
  border-radius: var(--border-radius);

  width: 126px;
  height: 0.5rem;

  background-color: var(--proggress-bar-bg-color);
  /* mask: radial-gradient(
    circle at calc(50% + 4px),
    transparent 6px,
    var(--proggress-bar-bg-color) 6px,
    var(--proggress-bar-bg-color) 6px
  ); */

  margin-bottom: 0.5rem;
}

.visualDegreeBarEllipse {
  display: block;
  position: absolute;

  width: 0.5rem;
  height: 0.5rem;

  border-radius: 50%;

  background-color: var(--light-color);

  top: 0;
  left: 50%;
}

.visualDegreeBarPressure[type='range'] {
  background-image: linear-gradient(
    to right,
    var(--light-color-accent) 0%,
    var(--gray-dark-color) 40%,
    var(--gray-dark-color) 60%,
    var(--light-color-accent) 100%
  );
}

@media (max-width: 886px) {
  .visualDegreeBar[type='range'] {
    width: 131px;
  }
}

@media (max-width: 768px) {
  .visualDegreeBar[type='range'] {
    width: clamp(6.5rem, -1.938rem + 21.09vw, 8.188rem);
    height: clamp(0.375rem, -0.25rem + 1.56vw, 0.5rem);

    margin-bottom: clamp(0.375rem, -0.25rem + 1.56vw, 0.5rem);
  }

  .visualDegreeBarEllipse {
    width: clamp(0.375rem, -0.25rem + 1.56vw, 0.5rem);
    height: clamp(0.375rem, -0.25rem + 1.56vw, 0.5rem);
  }
}

@media (max-width: 640px) {
  .visualDegreeBar[type='range'] {
    width: clamp(4.688rem, 2.123rem + 10.94vw, 6.5rem);
  }
}
