.selectionBtnWrap {
  position: relative;
}

.selectionBtn {
  background: none;
  border: none;

  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  color: var(--neutral-filled-400);
  font-variant-numeric: inherit;

  cursor: pointer;
  padding: 0;
}

.selectionBtnActive {
  color: var(--neutral-filled-100);
  border-bottom: 2px solid var(--neutral-filled-100);
}

@media (max-width: 768px) {
  .selectionBtn {
    font-size: clamp(0.75rem, -0.5rem + 3.13vw, 1rem);
  }

  .selectionBtn::after {
    height: clamp(0.063rem, -0.25rem + 0.78vw, 0.125rem);
  }
}
